.page {
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-size: 18px;
}

.main {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
}

.title {
  text-align: center;
  font-family: var(--title-font-family);
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 1;
}

.subtitle {
  text-align: center;
  font-family: var(--title-font-family);
  font-weight: bold;
  font-size: var(--subtitle-font-size);
}

.section {
  inline-size: var(--section-inline-size);
}