.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-size: 18px;
}

.title {
  text-align: center;
  color: var(--main-text-color);
  font-family: var(--title-font-family);
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 1;
}

.subtitle {
  text-align: center;
  color: var(--main-text-color);
  font-family: var(--title-font-family);
  font-weight: bold;
  font-size: var(--subtitle-font-size);
}