.equipment {
  display: grid;
  grid-template: auto auto auto / auto;
  justify-items: center;
  align-items: center;
  margin: var(--equipment-margin);
  gap: var(--equipment-gap);
}

.equipment .text {
  inline-size: var(--equipment__text-inline-size);
  block-size: auto;
}

.gallery {
  display: grid;
  grid-template: repeat(2, var(--gallery__item-block-size)) / repeat(3, var(--gallery__item-inline-size));
  grid-template-areas: 
    "first second third"
    "fourth fourth third";
  gap: var(--gallery-gap);
}

.gallery .image {
  inline-size: auto;
  block-size: auto;
  background-position: center;
  background-size: cover;
  border: 2px solid black ;
  border-radius: 5px;
}

.gallery .image:first-child {
  background-image: url("../images/cometa_bl4.jpg");
  grid-area: first;
}

.gallery .image:nth-child(2) {
  background-image: url("../images/cometa_bl6.jpg");
  grid-area: second;
}

.gallery .image:nth-child(3) {
  background-image: url("../images/cometa_bl5.jpg");
  grid-area: third;
}

.gallery .image:nth-child(4) {
  background-image: url("../images/cometa_bl3.jpg");
  grid-area: fourth;
}