:root {
  --main-font-family: 'Montserrat-Regular', sans-serif;
  --title-font-family: 'RussoOne-Regular', sans-serif;

  --text-font-weight: 400;
  --title-font-weight: 700;

  --main-text-color: #000;
  --bg-color: #ffffff;
  --accent-color: #9923DD;

  --title-font-size: 250px;
  --subtitle-font-size: 64px;

  --header-margin: 0 0 100px 0;
  --equipment-margin: 0 0 100px 0;
  --membership-margin: 0 0 100px 0;
  --about-margin: 0 0 100px 0;

  --membership-list__item-padding: 10px;
  --footer-padding: 10px 25px;
  --map-padding: 5px;

  --membership-list__item-gap: 10px;
  --membership-list-gap: 20px;
  --footer-gap: 300px;
  --gallery-gap: 10px;
  --about-gap: 25vw;
  --about__div-gap: 10px;
  --equipment-gap: 25px;

  --choose-button-inline-size: 150px;
  --choose-button-block-size: 40px;

  --section-inline-size: clamp(620px, 90vw, 1420px);

  --gallery__item-block-size: 25vh;
  --gallery__item-inline-size: calc(var(--section-inline-size) / 3 - var(--gallery-gap));

  --equipment__text-inline-size: clamp(300px, 50vw, 700px);
}