@font-face {
  font-family: "Montserrat-Regular";
  src: url("./Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "RussoOne-Regular";
  src: url("./RussoOne-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}